################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BrainLinkConnect/CopilotIndices/17.14.794.21998
/.vs/BrainLinkConnect/FileContentIndex
